<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/common/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="test" lay-filter="test"></table>

<div id="add" style="display:none">
    <form class="layui-form" id="addFrom">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入名称" autocomplete="on"
                       class="layui-input" id="name" style="width:100px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品编码</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" autocomplete="on" value="asd"
                       class="layui-input" id="code" style="width:100px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">进货价格</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" autocomplete="on"
                       class="layui-input" id="purchasingPrice" style="width:100px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">销售价格</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" autocomplete="on"
                       class="layui-input" id="salePrice" style="width:100px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片地址</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入名称" autocomplete="on"
                       class="layui-input" id="img" style="width:100px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">食品类型</label>
            <div class="layui-input-block">
                <select name="type" lay-search id="type">
                    <option value="">请选择</option>
                    <option value="1">饮料</option>
                    <option value="2">食品</option>
                    <option value="3">方便面</option>
                    <option value="3">香烟</option>
                    <option value="3">其他</option>
                </select>
            </div>
        </div>
        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">密码框</label>-->
        <!--            <div class="layui-input-inline">-->
        <!--                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"-->
        <!--                       autocomplete="on" class="layui-input">-->
        <!--            </div>-->
        <!--            <div class="layui-form-mid layui-word-aux">辅助文字</div>-->
        <!--        </div>-->
        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">选择框</label>-->
        <!--            <div class="layui-input-block">-->
        <!--                <select name="quiz" lay-search>-->
        <!--                    <option value="">请选择</option>-->
        <!--                    <optgroup label="城市记忆">-->
        <!--                        <option value="你工作的第一个城市">你工作的第一个城市？</option>-->
        <!--                    </optgroup>-->
        <!--                    <optgroup label="学生时代">-->
        <!--                        <option value="你的工号">你的工号？</option>-->
        <!--                        <option value="你最喜欢的老师">你最喜欢的老师？</option>-->
        <!--                    </optgroup>-->
        <!--                </select>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">复选框</label>-->
        <!--            <div class="layui-input-block">-->
        <!--                <input type="checkbox" name="like[write]" title="写作" lay-skin="primary">-->
        <!--                <input type="checkbox" name="like[read]" title="阅读" checked lay-skin="primary">-->
        <!--                <input type="checkbox" name="like[dai]" title="发呆" lay-skin="primary">-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">开关</label>-->
        <!--            <div class="layui-input-block">-->
        <!--                <input type="checkbox" name="switch" lay-skin="switch" lay-text="开启|关闭">-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">单选框</label>-->
        <!--            <div class="layui-input-block">-->
        <!--                <input type="radio" name="sex" value="男" title="男">-->
        <!--                <input type="radio" name="sex" value="女" title="女" checked>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="layui-form-item layui-form-text">-->
        <!--            <label class="layui-form-label">文本域</label>-->
        <!--            <div class="layui-input-block">-->
        <!--                <textarea lay-verify="required" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>-->
        <!--            </div>-->
        <!--        </div>-->
    </form>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addGoods">新增商品</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script th:src="@{/common/layui/layui.js}"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->

<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '/goods/list'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.flag ? 0 : 1, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.records, //解析数据长度
                    "data": res.data.rows //解析数据列表
                };
            }
            , title: '用户数据表'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'id', title:'ID', width:120, fixed: 'left', unresize: true, sort: true}
                    , {field: 'name', title: '商品名称', width: 120}
                    , {field: 'code', title: '编号', width: 80,  sort: true}
                    , {field: 'salePrice', title: '售价', width: 80,  sort: true}
                    , {field: 'purchasingPrice', title: '进价', width: 80,  sort: true}
                    , {field: 'img', title: '图片', width: 100,height:100, align: 'center',templet: function(d) { return '<div onclick="show_img(this)" ><img src="'+d.img+'" ' + 'alt="" width="100px" height="200px"></a></div>'; }}
                    , {field: 'type', title: '类型'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                ]
            ]
            , page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'addGoods':
                    layui.$('#name').removeAttr('value');
                    layui.$('#code').removeAttr('value');
                    layui.$('#purchasingPrice').removeAttr('value');
                    layui.$('#salePrice').removeAttr('value');
                    layui.$('#img').removeAttr('value');
                    layui.$('#type').removeAttr('value');
                    layer.open({
                        type: 1,
                        area: ['500px', '600px'],
                        title: 'tianxie'
                        , content: layui.$('#add'),
                        shade: 0,
                        btn: ['确定', '取消']
                        , btn1: function (index, layero) {
                            var name = layui.$("#name").val();
                            var purchasingPrice = layui.$("#purchasingPrice").val();
                            var salePrice = layui.$("#salePrice").val();
                            var code = layui.$("#code").val();
                            var img = layui.$("#img").val();
                            var type = layui.$("#type").val();
                            var data = {
                                'name': name,
                                'salePrice': salePrice,
                                'purchasingPrice': purchasingPrice,
                                'code': code,
                                'img': img,
                                'type': type
                            }
                            layui.$.ajax({
                                url: "/goods/add",
                                data: JSON.stringify(data),
                                type: "post",
                                dataType: "json",
                                contentType: 'application/json; charset=UTF-8',
                                success: function (data) {
                                    table.reload('test');
                                    layer.close(layer.index);
                                },
                                error: function (data) {
                                    layer.alert(JSON.stringify(data), {
                                        title: data
                                    });
                                }
                            });
                        },
                        btn2: function (index, layero) {
                            layer.close(layer.index);
                            return false;
                        },
                        cancel: function (layero, index) {
                            layer.closeAll();
                        }
                    });
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    layui.$.ajax({

                        url: "/goods/delete/" + obj.data.id,
                        // data:JSON.stringify({"id":obj.data.id}),
                        type: "put",
                        dataType: "json",
                        contentType: 'application/json; charset=UTF-8',
                        success: function (data) {
                            layer.close(layer.index);
                            table.reload('test');
                        },
                        error: function (data) {
                            layer.alert(JSON.stringify(data), {
                                title: data
                            });
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                console.log(data)
                layui.$('#name').attr('value',data.name);
                layui.$('#code').attr('value',data.code);
                layui.$('#purchasingPrice').attr('value',data.purchasingPrice);
                layui.$('#salePrice').attr('value',data.salePrice);
                layui.$('#img').attr('value',data.img);
                // layui.$('#type').attr('value',data.type);
                layer.open({
                    type: 1,
                    area: ['500px', '600px'],
                    title: 'tianxie'
                    , content: layui.$('#add'),
                    shade: 0,
                    btn: ['确定', '取消']
                    , btn1: function (index, layero) {
                        var name = layui.$("#name").val();
                        var purchasingPrice = layui.$("#purchasingPrice").val();
                        var salePrice = layui.$("#salePrice").val();
                        var code = layui.$("#code").val();
                        var img = layui.$("#img").val();
                        var type = layui.$("#type").val();
                        var datas = {
                            'name': name,
                            'salePrice': salePrice,
                            'purchasingPrice': purchasingPrice,
                            'code': code,
                            'img': img,
                            'type': type,
                            'id':data.id,
                        }
                        layui.$.ajax({
                            url: "/goods/update",
                            data: JSON.stringify(datas),
                            type: "post",
                            dataType: "json",
                            contentType: 'application/json; charset=UTF-8',
                            success: function (data) {
                                table.reload('test');
                                layer.close(layer.index);
                            },
                            error: function (data) {
                                layer.alert(JSON.stringify(data), {
                                    title: data
                                });
                            }
                        });
                    },
                    btn2: function (index, layero) {
                        layer.close(layer.index);
                        return false;
                    },
                    cancel: function (layero, index) {
                        layer.closeAll();
                    }
                });
            }
        });
    })
    function show_img(t) {
        var t = layui.$(t).find("img");
        //页面层
        layer.open({
            type: 1,
            title: '区域图片',
            skin: 'layui-layer-rim', //加上边框
            area: ['80%', '80%'], //宽高 t.width() t.height()
            shadeClose: true, //开启遮罩关闭
            end: function (index, layero) {
                return false;
            },
            content: '<div style="text-align:center"><img src="' + layui.$(t).attr('src') + '" /></div>'
        });
    }

</script>

</body>
</html>