<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/common/layui/css/layui.css}" tppabs="/common/layui/css/layui.css" rel="stylesheet" type="text/css"
          media="all"/>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<!--<script th:replace="common/head::static"></script>  &lt;!&ndash; jquery &ndash;&gt;-->
<script th:src="@{/common/layui/layui.js}"></script>  <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<style>
    .price {
        margin-left: -50px
    }

    .float-div {
        width: 200px;
        height: 200px;
        float: left;
        display: inline-block;
        box-shadow: 10px 10px 5px #8888;
        margin: 5px;
    }

    .li-div {
        width: 100%;
        height: 40px;
        /*float: left;*/
    }

    img {
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
    }

    li {
        width: 55%;
        display: inline-block;
    }

    .button-sale {
        width: 65px;
        margin-left: 15%;
    }

    .sales {
        width: 25px;
        /*margin-left: -16%;*/
        margin-top: 20px;
        position: absolute;
    }

    .salesNum {
        float: right;
    }

    .sales_name {
        /*margin-left: 0px;*/
        margin-top: 0px;
        position: absolute;
    }

    .sale_price {
        margin-left: -200px;
        margin-top: 0px;
        position: absolute;
    }

</style>
<body>

<div>
    <div class="layui-form-item" style="width: 300px;display: inline-block;">
        <label class="layui-form-label">搜索</label>
        <div class="layui-input-block">
            <input type="text" id="key" required lay-verify="required" placeholder="请输入名称或编号" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <button type="button" class="layui-btn" onclick="search()">搜索</button>
</div>


<div id="tables" style="width: 80%;display: inline-block;"></div>
<div id="test1"
     style="float: right;height:600px;width: 20%;display: inline-block;box-shadow: inset 1px 6px 11px 0px #00000088;">
    <h1 style="text-align:center">购物清单</h1>
    <div>
        <div class="layui-form-item">
            <label class="layui-form-label">单选框</label>
            <div class="layui-input-block">
                微信<input type="radio" name="sex" value="1" title="男">
                支付宝<input type="radio" name="sex" value="2" title="女" checked>
            </div>
        </div>
        <button type="button" class="layui-btn" onclick="saleSubmit()">确定</button>
    </div>
    <ul id="saleList" style="text-align:center;"></ul>
</div>


<script>
    let map = new Map();
    let goodsMap = new Map();

    layui.use('layer', function () {
        var layer = layui.layer;
        layer.ready(function () {
            layui.$.ajax({
                url: "/sales/list?key=" + layui.$("#key").val(),
                data: {},
                type: "get",
                dataType: "json",
                contentType: 'application/json; charset=UTF-8',
                success: function (data) {
                    if (data.flag) {
                        addGoodList(data.data)
                        // getSalesCount();
                    }
                },
                error: function (data) {
                    layer.alert(JSON.stringify(data), {
                        title: data
                    });
                }
            });
        });

    });

    function addGoodList(data) {
        layui.$('#tables').append(getHtml(data));
    }

    function search() {
        layui.$.ajax({
            url: "/sales/list?da=as",
            data: {"key": layui.$("#key").val()},
            type: "get",
            async: false,
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            success: function (data) {
                if (data.flag) {
                    editGoods(data.data)
                }
            },
            error: function (data) {
                layer.alert(JSON.stringify(data), {
                    title: data
                });
            }
        });
    }

    function editGoods(data) {
        layui.$('#tables').html(getHtml(data));
    }

    function getHtml(data) {
        str = '';
        if (data.length > 0) {
            for (let i = 0; i < data.length; i++) {
                goodsMap.set(data[i].goodsId, data[i])
                str += '  <div class="float-div" >\n' +
                    '        <img class="layui-anim"  data-anim="layui-anim-scaleSpring" src=\"' + data[i].img + '\" onclick="saleOne(\'' + data[i].goodsId + '\')">' +
                    '        <span class="layui-badge price sale_price layui-bg-green"> ￥' + data[i].salePrice + '</span>' +
                    '        <span class="layui-badge price sales" name=\"' + data[i].id + '\"id=\"' + data[i].goodsId + '\">' + data[i].stock + '</span>' +
                    '        <span class="layui-badge price sales_name layui-bg-green" >' + data[i].name + '</span>' +
                    '</div>';
            }
        }
        return str;
    }


    function saleSubmit() {
        map.clear();
        layui.$('ul#saleList').replaceWith('<ul id="saleList" style="text-align:center;"></ul>');
    }

    function returnOne(id) {
        var good = goodsMap.get(id);
        var num = (map.get(id) - 1);
        if (num === 0) {
            map.delete(id)
            layui.$('ul#saleList li').each(function () {
                if (this.id === id) {
                    layui.$(this).parent().remove();
                }
            });

        } else {
            map.set(id, num)
            layui.$('ul#saleList li').each(function () {
                if (this.id === id) {
                    layui.$(this).replaceWith('<li  id=\"' + id + '\">  ' + good.name + ' <span class="layui-badge layui-bg-orange salesNum"> ￥' + (good.salePrice * map.get(id)) + ' </span><span class="layui-badge salesNum">' + num + '</span></li>')
                }
            });
        }
    }

    //data[i].goodsId + "," + data[i].purchasingPrice + "," + data[i].salePrice + "," + data[i].name
    function saleOne(goodId) {
        let good = goodsMap.get(goodId);
        asassa()
        let count = 0;
        if (map.has(goodId)) {
            count = map.get(goodId)
        }
        layui.$.ajax({
            url: "/sales/checkStock?",
            data: {"goodId": goodId, "stock": (count + 1)},
            type: "get",
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            success: function (data) {
                let flag = true;
                if (!data.data) {
                    layer.open({
                        title: '库存不足'
                        , content: '请及时补充库存'
                    });
                } else {
                    layui.$('ul#saleList li').each(function () {
                        if (this.id === goodId) {
                            flag = false
                            var newNum = map.get(goodId) + 1;
                            map.set(goodId, newNum)
                            layui.$(this).replaceWith('<li id=\"' + goodId + '\">  ' + good.name + '<span class="layui-badge layui-bg-orange salesNum"> ￥' + (good.salePrice * map.get(goodId)) + ' </span>' +
                                '<span class="layui-badge salesNum">' + map.get(goodId) + '</span></li>')
                        }
                    });
                    if (flag) {
                        map.set(goodId, 1);
                        let a = layui.$('ul#saleList');
                        a.append('<div class="li-div"> ' +
                            '<button type="button" onclick="returnOne(\'' + goodId + '\')" class="layui-btn layui-btn-primary" style="width: 15%;">-</button>' +
                            '<li id=\"' + goodId + '\">  ' + good.name + '<span class="layui-badge layui-bg-orange salesNum"> ￥' + good.salePrice + ' </span> <span class="layui-badge salesNum"> 1 </span></li> ' +
                            '<button type="button" class="layui-btn layui-btn-primary"  style="width: 15%;" onclick="addOrReturn(\'' + goodId + '\')">+</button>' +
                            '</div>');
                    }
                }
            },
            error: function (data) {
                layer.alert(JSON.stringify(data), {
                    title: data
                });
            }
        });

    }

    function asassa() {
        layui.use(['jquery', 'element'], function () {
            //演示动画
            layui.$('.layui-anim').on('click', function () {
                let othis = layui.$(this), anim = othis.data('anim');

                othis.removeClass(anim);

                setTimeout(function () {
                    othis.addClass(anim);
                });

            });
        });
    }
</script>
<script type="text/javascript">

</script>

</body>
</html>