<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/common/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<!--<script th:replace="common/head::static"></script>  &lt;!&ndash; jquery &ndash;&gt;-->
<script th:src="@{/common/layui/layui.js}"></script>  <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<style>
    .price {
        margin-left: -50px
    }

    .float-div {
        width: 200px;
        height: 200px;
        float: left;
        display: inline-block;
        box-shadow: 10px 10px 5px #8888;
        margin: 5px;
    }

    .li-div {
        width: 100%;
        height: 40px;
        /*float: left;*/
    }

    img {
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
    }
    li{
        width: 55%;
        display: inline-block;
    }

    .button-sale {
        width: 65px;
        margin-left: 15%;
    }

    .sales {
        width: 25px;
        /*margin-left: -16%;*/
        margin-top: 20px;
        position: absolute;
    }
    .salesNum {
       float: right;
    }
    .sales_name {
        /*margin-left: 0px;*/
        margin-top: 0px;
        position: absolute;
    }

</style>
<body>

<div>
    <div class="layui-form-item" style="width: 300px;display: inline-block;">
        <label class="layui-form-label">搜索</label>
        <div class="layui-input-block">
            <input type="text" id="key" required lay-verify="required" placeholder="请输入名称或编号" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <button type="button" class="layui-btn" onclick="search()">搜索</button>
<!--    <i id="saleCount"> </i>-->

</div>
<div id="tables" style="width: 80%;display: inline-block;"></div>
<div id="test1" style="float: right;height:600px;width: 20%;display: inline-block;box-shadow: inset 1px 6px 11px 0px #00000088;">
    <span>购物单</span>
    <button type="button" class="layui-btn" style="margin-left: 20px;" onclick="search()">确定</button>
    <ul id="saleList" style="text-align:center;"></ul>
</div>


<script>
    let map = new Map();
    layui.use('layer', function () {
        var layer = layui.layer;
        layer.ready(function () {
            layui.$.ajax({
                url: "/sales/list?key=" + layui.$("#key").val(),
                data: {},
                type: "get",
                dataType: "json",
                contentType: 'application/json; charset=UTF-8',
                success: function (data) {
                    if (data.flag) {
                        addGoodList(data.data)
                        getSalesCount();
                    }
                },
                error: function (data) {
                    layer.alert(JSON.stringify(data), {
                        title: data
                    });
                }
            });
        });

    });

    function addGoodList(data) {
        layui.$('#tables').append(getHtml(data));
    }

    function search() {
        layui.$.ajax({
            url: "/sales/list?da=as",
            data: {"key": layui.$("#key").val()},
            type: "get",
            async: false,
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            success: function (data) {
                if (data.flag) {
                    editGoods(data.data)
                }
            },
            error: function (data) {
                layer.alert(JSON.stringify(data), {
                    title: data
                });
            }
        });
    }

    function editGoods(data) {
        layui.$('#tables').html(getHtml(data));
    }

    function getHtml(data) {
        str = '';
        if (data.length > 0) {
            for (let i = 0; i < data.length; i++) {
                str += '  <div class="float-div" >\n' +
                    '        <img src=\"' + data[i].img + '\" onclick="saleOne(\'' + data[i].goodsId + "," + data[i].purchasingPrice + "," + data[i].salePrice + "," + data[i].name + '\')">' +
                    '        <span class="layui-badge price sales" name=\"' + data[i].id + '\"id=\"' + data[i].goodsId + '\">' + data[i].stock + '</span>' +
                    '        <span class="layui-badge price sales_name layui-bg-green" >' + data[i].name + '</span>' +
                    '</div>';
            }
        }
        return str;
    }

    function saleOne(str) {
        addOrReturn(str, 1);
    }

    function returnOne(id) {
        var num = (map.get(id)-1);
        if (num===0){
            map.delete(id)
            layui.$('ul#saleList li').each(function () {
                if (this.id === id) {
                    layui.$(this).parent().remove();
                }
            });

        }else {
            map.set(id,num)
            layui.$('ul#saleList li').each(function () {
                if (this.id === id) {
                    var $li = layui.$(this);
                    var val = $li.html().split("<")[1];
                    var splitElement = val.split(">")[1];
                    $li.replaceWith('<li  id=\"' + id + '\">  ' + splitElement + ' <i class="layui-badge salesNum">' + num + '</i></li>')
                }
            });
        }
    }


    function addOrReturn(strs, num) {
        let split = strs.split(",");
        let flag = true;
        let count = 0;
        if (map.has(split[0])){
            count =map.get(split[0])
        }
        layui.$.ajax({
            url: "/sales/checkStock?",
            data: {"goodId":split[0],"stock":(count+num)},
            type: "get",
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            success: function (data) {
                if (!data.data) {
                    layer.open({
                        title: '库存不足'
                        , content: '请及时补充库存'
                    });
                } else {
                    layui.$('ul#saleList li').each(function () {
                        console.log(this.id)
                        if (this.id === split[0]) {
                            console.log(map)
                            flag = false
                            var newNum = map.get(split[0]) + num;
                            map.set(split[0], newNum)
                            layui.$(this).replaceWith('<li id=\"' + split[0] + '\">  ' + split[3] + '<span class="layui-badge salesNum">' + map.get(split[0]) + '</span> </li>')
                        }
                    });
                    if (flag) {
                        map.set(split[0], 1);
                        let a = layui.$('ul#saleList');
                        a.append('<div class="li-div"> ' +
                            '<button type="button" onclick="returnOne(\''+split[0]+'\')" class="layui-btn layui-btn-primary" style="width: 15%;">-</button>' +
                            '<li id=\"' + split[0] + '\">  ' + split[3] + '<span class="layui-badge salesNum"> 1 </span></li> ' +
                            '<button type="button" class="layui-btn layui-btn-primary"  style="width: 15%;" onclick="con()">+</button>' +
                            '</div>');
                    }
                }
            },
            error: function (data) {
                layer.alert(JSON.stringify(data), {
                    title: data
                });
            }
        });
    }

    // function getSalesCount() {
    //     var time = new Date().toLocaleDateString();
    //     layui.$.ajax({
    //         url: '/sales/salesCount?' + 'startTime=' + time + '&endTime=' + time,
    //         data: {},
    //         type: "get",
    //         // dataType: "json",
    //         contentType: 'application/json; charset=UTF-8',
    //         success: function (data) {
    //             layui.$('#saleCount').html(
    //                 "<i class=\"layui-icon layui-icon-rmb\" style=\"font-size: 20px; color: #e5084d;\">总售价: " + data.data.totalSale + " </i>");
    //         },
    //         error: function (data) {
    //             layer.alert(JSON.stringify(data), {
    //                 title: data
    //             });
    //         }
    //     });
    // }


</script>

</body>
</html>